<div class="bg-[#FF5E5E] lg:bg-takestep-union1 bg-no-repeat bg-[position:top_1.2rem_left_1rem] bg-[length:auto_50%]">
  <div class="lg:bg-takestep-union2 bg-no-repeat bg-[position:bottom_1.2rem_right_1rem] bg-[length:auto_50%]">
    <div class="py-14 lg:py-10 px-4 lg:px-0">
      <h2 class="text-center text-[#FFED04] font-bold text-2xl lg:text-3xl leading-snug uppercase mb-4 lg:mb-1">
        {{ title }}
      </h2>
      <h3 class="text-center text-white font-bold text-2xl lg:text-3xl leading-snug uppercase">
        {{ subtitle }}
      </h3>
    </div>
  </div>
</div>
