<div class="flex flex-row bg-[#FF5E5E] text-white md:max-w-[380px] rounded-md pl-3 py-2">
  <img
    src="{{ 'bigblock-bubbles-icon.svg' | asset_url }}"
    alt="Yummi"
    width="30"
    height="auto"
    class="inline-block mr-2 mt-[-4px]"
  >
  <span class="text-xl font-extrabold uppercase tracking-wider leading-8 inline-block pr-20">{{ text }}</span>
</div>
