<div
  class="w-full max-w-[100dvw] !fixed h-16 top-0 left-0 !z-[9999] flex items-center justify-center bg-bts-yellow text-black overflow-hidden"
>
  <div class="max-w-[1600px] m-auto flex flex-row items-center justify-between px-4 py-2 lg:gap-20">
    <div class="hidden lg:block font-bold text-base">
      FRUITY BACK TO SCHOOL DEALS! SAVINGS UP TO 33% ONLY UNTIL SEPT 14!
    </div>

    <div class="lg:hidden flex-1 flex items-center justify-center">
      <div class="ticker h-6 overflow-hidden w-full">
        <div class="ticker-track">
          <ul class="ticker-list font-bold text-sm">
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">FRUITY BACK TO SCHOOL DEALS!</li>
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">SAVINGS UP TO 33%</li>
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">ONLY UNTIL SEPT 14!</li>
          </ul>
          <ul class="ticker-list font-bold text-sm" aria-hidden="true">
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">FRUITY BACK TO SCHOOL DEALS!</li>
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">SAVINGS UP TO 33%</li>
            <li class="ticker-item h-6 flex items-center px-4 whitespace-nowrap">ONLY UNTIL SEPT 14!</li>
          </ul>
        </div>
      </div>
    </div>
    <a
      href="/pages/back-to-school#bts-products"
      class="ml-4 px-6 py-2 bg-bts-blue rounded-lg text-white text-sm font-semibold shadow-md hover:opacity-90 transition items-center gap-4 hidden lg:flex"
    >
      Back to school discounts

      <img
        src="{{ 'tabler_sparkles.svg' | asset_url }}"
        alt="Arrow Right"
        class="w-6 h-6 ml-2"
        width="16"
        height="16"
        style="filter: brightness(0) invert(1);"
      >
    </a>
  </div>
</div>
