<div id="page-text" class="py-20 px-4 lg:px-0 mt-20">
  <div class="lg:w-[80%] m-auto">
    <div class="pt-10 lg:pt-24 pb-10">
      <h2 class="colored-title text-black font-bold text-3xl lg:text-4xl leading-snug uppercase">
        <strong>{{ page.title }}</strong>
      </h2>
    </div>

    <div class="text-[#656565] font-light text-sm lg:text-base">
      {{ page.content }}
    </div>
  </div>
</div>
