*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
}

.\!fixed {
  position: fixed !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-9 {
  bottom: 2.25rem;
}

.bottom-\[-1px\] {
  bottom: -1px;
}

.bottom-\[-5px\] {
  bottom: -5px;
}

.bottom-\[0\] {
  bottom: 0;
}

.left-0 {
  left: 0px;
}

.left-\[-1px\] {
  left: -1px;
}

.left-\[-5px\] {
  left: -5px;
}

.right-0 {
  right: 0px;
}

.right-\[-15px\] {
  right: -15px;
}

.right-\[-1px\] {
  right: -1px;
}

.top-0 {
  top: 0px;
}

.top-10 {
  top: 2.5rem;
}

.top-\[-15px\] {
  top: -15px;
}

.top-\[-1px\] {
  top: -1px;
}

.top-1\/2 {
  top: 50%;
}

.\!z-0 {
  z-index: 0 !important;
}

.\!z-10 {
  z-index: 10 !important;
}

.\!z-50 {
  z-index: 50 !important;
}

.\!z-\[3\] {
  z-index: 3 !important;
}

.\!z-\[9999\] {
  z-index: 9999 !important;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-\[1\] {
  z-index: 1;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.m-auto {
  margin: auto;
}

.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.mb-\[-1px\] {
  margin-bottom: -1px;
}

.mb-\[-2\.5rem\] {
  margin-bottom: -2.5rem;
}

.mb-\[-2rem\] {
  margin-bottom: -2rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-\[-1px\] {
  margin-left: -1px;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[-1px\] {
  margin-top: -1px;
}

.mt-\[-2px\] {
  margin-top: -2px;
}

.mt-\[-4px\] {
  margin-top: -4px;
}

.mt-\[-5px\] {
  margin-top: -5px;
}

.mt-\[3px\] {
  margin-top: 3px;
}

.mt-\[5vh\] {
  margin-top: 5vh;
}

.mt-auto {
  margin-top: auto;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-\[4\/3\] {
  aspect-ratio: 4/3;
}

.h-16 {
  height: 4rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-64 {
  height: 16rem;
}

.h-\[100dvh\] {
  height: 100dvh;
}

.h-\[17rem\] {
  height: 17rem;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[35\%\] {
  height: 35%;
}

.h-\[60\%\] {
  height: 60%;
}

.h-\[8\.5rem\] {
  height: 8.5rem;
}

.h-\[90\%\] {
  height: 90%;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.max-h-0 {
  max-height: 0px;
}

.min-h-\[520px\] {
  min-height: 520px;
}

.min-h-full {
  min-height: 100%;
}

.w-1\/2 {
  width: 50%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-1\/5 {
  width: 20%;
}

.w-10 {
  width: 2.5rem;
}

.w-16 {
  width: 4rem;
}

.w-3\/12 {
  width: 25%;
}

.w-4 {
  width: 1rem;
}

.w-4\/5 {
  width: 80%;
}

.w-6 {
  width: 1.5rem;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[15\%\] {
  width: 15%;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[30\%\] {
  width: 30%;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[46\%\] {
  width: 46%;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[60\%\] {
  width: 60%;
}

.w-\[70\%\] {
  width: 70%;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[85\%\] {
  width: 85%;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.\!w-full {
  width: 100% !important;
}

.w-\[65\%\] {
  width: 65%;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-\[250px\] {
  min-width: 250px;
}

.max-w-\[100dvw\] {
  max-width: 100dvw;
}

.max-w-\[1150px\] {
  max-width: 1150px;
}

.max-w-\[1200px\] {
  max-width: 1200px;
}

.max-w-\[15\%\] {
  max-width: 15%;
}

.max-w-\[1600px\] {
  max-width: 1600px;
}

.max-w-\[260px\] {
  max-width: 260px;
}

.max-w-none {
  max-width: none;
}

.max-w-prose {
  max-width: 65ch;
}

.max-w-xl {
  max-width: 36rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow {
  flex-grow: 1;
}

.translate-y-\[5\%\] {
  --tw-translate-y: 5%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.list-disc {
  list-style-type: disc;
}

.list-none {
  list-style-type: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-center {
  align-content: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-16 {
  gap: 4rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.gap-x-5 {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.gap-y-16 {
  row-gap: 4rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.gap-y-\[0\.7rem\] {
  row-gap: 0.7rem;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.self-center {
  align-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[12px\] {
  border-radius: 12px;
}

.rounded-\[17px\] {
  border-radius: 17px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-bl-\[12px\] {
  border-bottom-left-radius: 12px;
}

.rounded-bl-none {
  border-bottom-left-radius: 0px;
}

.rounded-bl-xl {
  border-bottom-left-radius: 0.75rem;
}

.rounded-br-\[12px\] {
  border-bottom-right-radius: 12px;
}

.rounded-br-\[40px\] {
  border-bottom-right-radius: 40px;
}

.rounded-br-none {
  border-bottom-right-radius: 0px;
}

.rounded-br-xl {
  border-bottom-right-radius: 0.75rem;
}

.rounded-tl-\[12px\] {
  border-top-left-radius: 12px;
}

.rounded-tl-lg {
  border-top-left-radius: 0.5rem;
}

.rounded-tl-none {
  border-top-left-radius: 0px;
}

.rounded-tl-xl {
  border-top-left-radius: 0.75rem;
}

.rounded-tr-\[12px\] {
  border-top-right-radius: 12px;
}

.rounded-tr-md {
  border-top-right-radius: 0.375rem;
}

.rounded-tr-none {
  border-top-right-radius: 0px;
}

.rounded-tr-xl {
  border-top-right-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-b-\[5px\] {
  border-bottom-width: 5px;
}

.border-l {
  border-left-width: 1px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-l-\[5px\] {
  border-left-width: 5px;
}

.border-r {
  border-right-width: 1px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-r-\[1px\] {
  border-right-width: 1px;
}

.border-r-\[5px\] {
  border-right-width: 5px;
}

.border-t {
  border-top-width: 1px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-t-\[5px\] {
  border-top-width: 5px;
}

.border-\[\#343057\] {
  --tw-border-opacity: 1;
  border-color: rgb(52 48 87 / var(--tw-border-opacity, 1));
}

.border-\[\#3B3B3B\] {
  --tw-border-opacity: 1;
  border-color: rgb(59 59 59 / var(--tw-border-opacity, 1));
}

.border-\[\#ACA8D1\] {
  --tw-border-opacity: 1;
  border-color: rgb(172 168 209 / var(--tw-border-opacity, 1));
}

.border-\[\#D0D0D0\] {
  --tw-border-opacity: 1;
  border-color: rgb(208 208 208 / var(--tw-border-opacity, 1));
}

.border-\[\#D3D3D3\] {
  --tw-border-opacity: 1;
  border-color: rgb(211 211 211 / var(--tw-border-opacity, 1));
}

.border-\[\#D9D9D9\] {
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity, 1));
}

.border-\[\#bab7e2\] {
  --tw-border-opacity: 1;
  border-color: rgb(186 183 226 / var(--tw-border-opacity, 1));
}

.border-\[\#e1dfe5\] {
  --tw-border-opacity: 1;
  border-color: rgb(225 223 229 / var(--tw-border-opacity, 1));
}

.border-bts-gray {
  --tw-border-opacity: 1;
  border-color: rgb(111 111 111 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#1E1E1E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity, 1));
}

.bg-\[\#272729\] {
  --tw-bg-opacity: 1;
  background-color: rgb(39 39 41 / var(--tw-bg-opacity, 1));
}

.bg-\[\#343057\] {
  --tw-bg-opacity: 1;
  background-color: rgb(52 48 87 / var(--tw-bg-opacity, 1));
}

.bg-\[\#404A9E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(64 74 158 / var(--tw-bg-opacity, 1));
}

.bg-\[\#C1C1C1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(193 193 193 / var(--tw-bg-opacity, 1));
}

.bg-\[\#D3CFFA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(211 207 250 / var(--tw-bg-opacity, 1));
}

.bg-\[\#D67763\] {
  --tw-bg-opacity: 1;
  background-color: rgb(214 119 99 / var(--tw-bg-opacity, 1));
}

.bg-\[\#E1E1E1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(225 225 225 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F8F8F8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 248 248 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FEF56B\] {
  --tw-bg-opacity: 1;
  background-color: rgb(254 245 107 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FF5E5E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 94 94 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFE2E2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 226 226 / var(--tw-bg-opacity, 1));
}

.bg-\[transparent\] {
  background-color: transparent;
}

.bg-bts-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}

.bg-bts-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(64 74 158 / var(--tw-bg-opacity, 1));
}

.bg-bts-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(201 223 36 / var(--tw-bg-opacity, 1));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-account-icon {
  background-image: url('account-icon.svg');
}

.bg-best-tasting-product {
  background-image: url('best-tasting-product.webp');
}

.bg-cart-icon {
  background-image: url('cart-icon.svg');
}

.bg-crafted-back {
  background-image: url('crafted-back.webp');
}

.bg-dropdown {
  background-image: url('dropdown-arrow.svg');
}

.bg-excellence-back {
  background-image: url('excellence-back.webp');
}

.bg-frank-help-gut-1000 {
  background-image: url('frank-help-gut-1000.webp');
}

.bg-frank-help-gut-500 {
  background-image: url('frank-help-gut-500.webp');
}

.bg-frank-help-gut-700 {
  background-image: url('frank-help-gut-700.webp');
}

.bg-menu-icon {
  background-image: url('menu-icon.svg');
}

.bg-school-benefits-bg {
  background-image: url('school-benefits-bg.png');
}

.bg-search-icon {
  background-image: url('search-icon.svg');
}

.bg-shape-bite {
  background-image: url('shape-bite.webp');
}

.bg-\[length\:20px_auto\] {
  background-size: 20px auto;
}

.bg-\[length\:30\%_auto\] {
  background-size: 30% auto;
}

.bg-\[length\:35\%_auto\] {
  background-size: 35% auto;
}

.bg-\[length\:auto_100\%\] {
  background-size: auto 100%;
}

.bg-\[length\:auto_15px\] {
  background-size: auto 15px;
}

.bg-\[length\:auto_30\%\] {
  background-size: auto 30%;
}

.bg-\[length\:auto_47\%\] {
  background-size: auto 47%;
}

.bg-\[length\:auto_50\%\] {
  background-size: auto 50%;
}

.bg-\[length\:auto_62\%\] {
  background-size: auto 62%;
}

.bg-\[length\:auto_70\%\] {
  background-size: auto 70%;
}

.bg-\[length\:auto_80\%\] {
  background-size: auto 80%;
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-\[position\:20px_0\] {
  background-position: 20px 0;
}

.bg-\[position\:30px_35px\] {
  background-position: 30px 35px;
}

.bg-\[position\:bottom_1\.2rem_right_1rem\] {
  background-position: bottom 1.2rem right 1rem;
}

.bg-\[position\:bottom_15\%_left_1\%\] {
  background-position: bottom 15% left 1%;
}

.bg-\[position\:bottom_2\%_left_0\.5\%\] {
  background-position: bottom 2% left 0.5%;
}

.bg-\[position\:bottom_left_8\%\] {
  background-position: bottom left 8%;
}

.bg-\[position\:center_left\] {
  background-position: center left;
}

.bg-\[position\:center_left_1\%\] {
  background-position: center left 1%;
}

.bg-\[position\:center_left_2\%\] {
  background-position: center left 2%;
}

.bg-\[position\:center_right_1\%\] {
  background-position: center right 1%;
}

.bg-\[position\:center_right_2\%\] {
  background-position: center right 2%;
}

.bg-\[position\:right_10px_center\] {
  background-position: right 10px center;
}

.bg-\[position\:top_1\.2rem_left_1rem\] {
  background-position: top 1.2rem left 1rem;
}

.bg-\[position\:top_15\%_right_1\%\] {
  background-position: top 15% right 1%;
}

.bg-\[position\:top_2\%_right_0\.5\%\] {
  background-position: top 2% right 0.5%;
}

.bg-\[position\:top_7px_right\] {
  background-position: top 7px right;
}

.bg-\[position\:top_right\] {
  background-position: top right;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.py-\[0\.3rem\] {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.py-\[0\.4rem\] {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.py-\[0\.5rem\] {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-60 {
  padding-bottom: 15rem;
}

.pb-\[0\.4rem\] {
  padding-bottom: 0.4rem;
}

.pb-\[0\.9rem\] {
  padding-bottom: 0.9rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.pl-\[4\%\] {
  padding-left: 4%;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-16 {
  padding-right: 4rem;
}

.pr-20 {
  padding-right: 5rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-11 {
  padding-top: 2.75rem;
}

.pt-12 {
  padding-top: 3rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-20 {
  padding-top: 5rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pt-28 {
  padding-top: 7rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-32 {
  padding-top: 8rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[0\.6rem\] {
  padding-top: 0.6rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.align-middle {
  vertical-align: middle;
}

.font-inter {
  font-family: Inter;
}

.\!text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-\[0\.7rem\] {
  font-size: 0.7rem;
}

.text-\[0\.85rem\] {
  font-size: 0.85rem;
}

.text-\[0\.8rem\] {
  font-size: 0.8rem;
}

.text-\[1\.25rem\] {
  font-size: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-8 {
  line-height: 2rem;
}

.leading-\[1\.1\] {
  line-height: 1.1;
}

.leading-\[1\.2\] {
  line-height: 1.2;
}

.leading-none {
  line-height: 1;
}

.leading-snug {
  line-height: 1.375;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.text-\[\#0F1113\] {
  --tw-text-opacity: 1;
  color: rgb(15 17 19 / var(--tw-text-opacity, 1));
}

.text-\[\#222222\] {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.text-\[\#222\] {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity, 1));
}

.text-\[\#343057\] {
  --tw-text-opacity: 1;
  color: rgb(52 48 87 / var(--tw-text-opacity, 1));
}

.text-\[\#3B3B3B\] {
  --tw-text-opacity: 1;
  color: rgb(59 59 59 / var(--tw-text-opacity, 1));
}

.text-\[\#404A9E\] {
  --tw-text-opacity: 1;
  color: rgb(64 74 158 / var(--tw-text-opacity, 1));
}

.text-\[\#656565\] {
  --tw-text-opacity: 1;
  color: rgb(101 101 101 / var(--tw-text-opacity, 1));
}

.text-\[\#6E6E6E\] {
  --tw-text-opacity: 1;
  color: rgb(110 110 110 / var(--tw-text-opacity, 1));
}

.text-\[\#6F6F6F\] {
  --tw-text-opacity: 1;
  color: rgb(111 111 111 / var(--tw-text-opacity, 1));
}

.text-\[\#748492\] {
  --tw-text-opacity: 1;
  color: rgb(116 132 146 / var(--tw-text-opacity, 1));
}

.text-\[\#ACA8D1\] {
  --tw-text-opacity: 1;
  color: rgb(172 168 209 / var(--tw-text-opacity, 1));
}

.text-\[\#AFAFAF\] {
  --tw-text-opacity: 1;
  color: rgb(175 175 175 / var(--tw-text-opacity, 1));
}

.text-\[\#B3B3B3\] {
  --tw-text-opacity: 1;
  color: rgb(179 179 179 / var(--tw-text-opacity, 1));
}

.text-\[\#C7C7C7\] {
  --tw-text-opacity: 1;
  color: rgb(199 199 199 / var(--tw-text-opacity, 1));
}

.text-\[\#D3D3D3\] {
  --tw-text-opacity: 1;
  color: rgb(211 211 211 / var(--tw-text-opacity, 1));
}

.text-\[\#FF5E5E\] {
  --tw-text-opacity: 1;
  color: rgb(255 94 94 / var(--tw-text-opacity, 1));
}

.text-\[\#FF9494\] {
  --tw-text-opacity: 1;
  color: rgb(255 148 148 / var(--tw-text-opacity, 1));
}

.text-\[\#FFBEB0\] {
  --tw-text-opacity: 1;
  color: rgb(255 190 176 / var(--tw-text-opacity, 1));
}

.text-\[\#FFED04\] {
  --tw-text-opacity: 1;
  color: rgb(255 237 4 / var(--tw-text-opacity, 1));
}

.text-\[\#fff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-bts-blue {
  --tw-text-opacity: 1;
  color: rgb(64 74 158 / var(--tw-text-opacity, 1));
}

.text-bts-gray {
  --tw-text-opacity: 1;
  color: rgb(111 111 111 / var(--tw-text-opacity, 1));
}

.text-bts-yellow {
  --tw-text-opacity: 1;
  color: rgb(201 223 36 / var(--tw-text-opacity, 1));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1));
}

.text-slate-800 {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.line-through {
  text-decoration-line: line-through;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-70 {
  opacity: 0.7;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.brightness-0 {
  --tw-brightness: brightness(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-lg {
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.colored-title-red strong,
.colored-title-blue strong,
.colored-title-violet strong,
.colored-title-notracking strong,
.colored-title strong {
  color: #FF5E5E;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.colored-title-notracking strong {
  letter-spacing: 0;
}

.colored-title-blue strong {
  color: #FFED04;
}

.colored-title-red strong,
.colored-title-violet strong {
  color: #fff;
  font-weight: 700;
}

.colored-title-red strong {
  color: #FFEE14;
}

.desc-text-red p,
.desc-text p {
  margin-bottom: 1rem;
}

.desc-text-red p > strong,
.desc-text p > strong,
.desc-text li > strong {
  font-weight: 600;
}

.desc-text ul {
  padding-left: 5px;
  list-style: inside;
  list-style-type: disc;
}

.desc-text ul li {
  margin-bottom: 0.8rem;
  line-height: 1.1rem;
}

.desc-text-red p > strong {
  color: #FFEE14;
}

.pagination .page.current {
  color: #9c9c9c;
}

#bundles .slick-track,
#top-sellers .slick-track {
  display: flex;
  gap: 1.5rem;
}

#reviews .slick-track {
  display: flex;
  gap: 2.5rem;
}

#page-text h2,
#page-text h3 {
  color: #000
}

#page-text strong {
  font-weight: 700;
}

#page-text p {
  margin-bottom: 1rem;
}

.ticker {
  width: 100%;
  overflow: hidden;
}

.ticker-track {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: marquee-x 18s linear infinite;
}

.ticker-track:hover {
  animation-play-state: paused;
}

.ticker-list {
  display: flex;
}

.ticker-item {
  display: inline-flex;
}

@keyframes marquee-x {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px) {
  #shopify-section-header {
    height: 60px;
    margin-bottom: -60px;
    padding: 1rem;
    top: 0;
    position: sticky;
    z-index: 10;
  }
}

.last\:border-b-0:last-child {
  border-bottom-width: 0px;
}

.even\:border-l:nth-child(even) {
  border-left-width: 1px;
}

.hover\:bg-\[\#343057\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(52 48 87 / var(--tw-bg-opacity, 1));
}

.hover\:bg-slate-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:opacity-90:hover {
  opacity: 0.9;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus-visible\:outline-none:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.aria-expanded\:bg-none[aria-expanded="true"] {
  background-image: none;
}

@media not all and (min-width: 1024px) {
  .max-lg\:top-\[30\%\] {
    top: 30%;
  }

  .max-lg\:h-\[100vh\] {
    height: 100vh;
  }

  .max-lg\:min-h-\[100vh\] {
    min-height: 100vh;
  }

  .max-lg\:w-\[100dvw\] {
    width: 100dvw;
  }

  .max-lg\:bg-benefits-bg-mobile {
    background-image: url('benefits-bg-mobile.png');
  }

  .max-lg\:text-justify {
    text-align: justify;
  }
}

@media not all and (min-width: 768px) {
  .max-md\:left-\[5\%\] {
    left: 5%;
  }

  .max-md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:h-1\/3 {
    height: 33.333333%;
  }

  .max-sm\:w-auto {
    width: auto;
  }

  .max-sm\:w-full {
    width: 100%;
  }

  .max-sm\:w-\[80\%\] {
    width: 80%;
  }

  .max-sm\:w-\[90\%\] {
    width: 90%;
  }

  .max-sm\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .max-sm\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .max-sm\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .max-sm\:pb-3 {
    padding-bottom: 0.75rem;
  }

  .max-sm\:pt-5 {
    padding-top: 1.25rem;
  }

  .max-sm\:pb-0 {
    padding-bottom: 0px;
  }

  .max-sm\:pb-1 {
    padding-bottom: 0.25rem;
  }

  .max-sm\:pt-0 {
    padding-top: 0px;
  }

  .max-sm\:pt-6 {
    padding-top: 1.5rem;
  }
}

@media (min-width: 640px) {
  .sm\:h-auto {
    height: auto;
  }

  .sm\:w-\[17rem\] {
    width: 17rem;
  }

  .sm\:w-\[45\%\] {
    width: 45%;
  }

  .sm\:w-\[60\%\] {
    width: 60%;
  }

  .sm\:w-\[70\%\] {
    width: 70%;
  }

  .sm\:w-auto {
    width: auto;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:bg-\[length\:30\%_auto\] {
    background-size: 30% auto;
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:text-left {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:left-\[25\%\] {
    left: 25%;
  }

  .md\:m-auto {
    margin: auto;
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .md\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .md\:block {
    display: block;
  }

  .md\:inline-block {
    display: inline-block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-\[100px\] {
    width: 100px;
  }

  .md\:w-\[150px\] {
    width: 150px;
  }

  .md\:w-\[18px\] {
    width: 18px;
  }

  .md\:w-\[200px\] {
    width: 200px;
  }

  .md\:w-\[30\%\] {
    width: 30%;
  }

  .md\:w-\[40\%\] {
    width: 40%;
  }

  .md\:w-\[50\%\] {
    width: 50%;
  }

  .md\:w-\[60\%\] {
    width: 60%;
  }

  .md\:w-\[70\%\] {
    width: 70%;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:min-w-\[280px\] {
    min-width: 280px;
  }

  .md\:max-w-\[300px\] {
    max-width: 300px;
  }

  .md\:max-w-\[30vw\] {
    max-width: 30vw;
  }

  .md\:max-w-\[380px\] {
    max-width: 380px;
  }

  .md\:max-w-\[60\%\] {
    max-width: 60%;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:pr-10 {
    padding-right: 2.5rem;
  }

  .md\:pt-10 {
    padding-top: 2.5rem;
  }

  .md\:pt-3 {
    padding-top: 0.75rem;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:font-medium {
    font-weight: 500;
  }

  .md\:normal-case {
    text-transform: none;
  }
}

@media (min-width: 900px) {
  .min-\[900px\]\:w-\[70\%\] {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:top-3 {
    top: 0.75rem;
  }

  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mb-1 {
    margin-bottom: 0.25rem;
  }

  .lg\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .lg\:mb-16 {
    margin-bottom: 4rem;
  }

  .lg\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .lg\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .lg\:mb-7 {
    margin-bottom: 1.75rem;
  }

  .lg\:mb-8 {
    margin-bottom: 2rem;
  }

  .lg\:mb-\[-5rem\] {
    margin-bottom: -5rem;
  }

  .lg\:mb-\[5vh\] {
    margin-bottom: 5vh;
  }

  .lg\:ml-\[7vw\] {
    margin-left: 7vw;
  }

  .lg\:mr-\[10\%\] {
    margin-right: 10%;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:aspect-\[16\/7\] {
    aspect-ratio: 16/7;
  }

  .lg\:h-\[50dvh\] {
    height: 50dvh;
  }

  .lg\:h-\[70dvh\] {
    height: 70dvh;
  }

  .lg\:h-auto {
    height: auto;
  }

  .lg\:h-full {
    height: 100%;
  }

  .lg\:min-h-\[320px\] {
    min-height: 320px;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-1\/3 {
    width: 33.333333%;
  }

  .lg\:w-4\/5 {
    width: 80%;
  }

  .lg\:w-9\/12 {
    width: 75%;
  }

  .lg\:w-\[15\%\] {
    width: 15%;
  }

  .lg\:w-\[20\%\] {
    width: 20%;
  }

  .lg\:w-\[31\%\] {
    width: 31%;
  }

  .lg\:w-\[40\%\] {
    width: 40%;
  }

  .lg\:w-\[45\%\] {
    width: 45%;
  }

  .lg\:w-\[46\%\] {
    width: 46%;
  }

  .lg\:w-\[47\%\] {
    width: 47%;
  }

  .lg\:w-\[50\%\] {
    width: 50%;
  }

  .lg\:w-\[55\%\] {
    width: 55%;
  }

  .lg\:w-\[60\%\] {
    width: 60%;
  }

  .lg\:w-\[70\%\] {
    width: 70%;
  }

  .lg\:w-\[73\%\] {
    width: 73%;
  }

  .lg\:w-\[80\%\] {
    width: 80%;
  }

  .lg\:w-\[85\%\] {
    width: 85%;
  }

  .lg\:w-\[90\%\] {
    width: 90%;
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:\!w-1\/2 {
    width: 50% !important;
  }

  .lg\:\!w-\[1\/2\] {
    width: 1/2 !important;
  }

  .lg\:min-w-\[100\%\] {
    min-width: 100%;
  }

  .lg\:min-w-\[300px\] {
    min-width: 300px;
  }

  .lg\:max-w-\[1150px\] {
    max-width: 1150px;
  }

  .lg\:max-w-\[16vw\] {
    max-width: 16vw;
  }

  .lg\:flex-shrink {
    flex-shrink: 1;
  }

  .lg\:-translate-x-\[15\%\] {
    --tw-translate-x: -15%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-wrap {
    flex-wrap: wrap;
  }

  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .lg\:items-start {
    align-items: flex-start;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-center {
    justify-content: center;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:gap-16 {
    gap: 4rem;
  }

  .lg\:gap-20 {
    gap: 5rem;
  }

  .lg\:rounded-bl-none {
    border-bottom-left-radius: 0px;
  }

  .lg\:rounded-bl-xl {
    border-bottom-left-radius: 0.75rem;
  }

  .lg\:rounded-br-\[120px\] {
    border-bottom-right-radius: 120px;
  }

  .lg\:rounded-br-\[85px\] {
    border-bottom-right-radius: 85px;
  }

  .lg\:rounded-tr-none {
    border-top-right-radius: 0px;
  }

  .lg\:rounded-tr-xl {
    border-top-right-radius: 0.75rem;
  }

  .lg\:border-r {
    border-right-width: 1px;
  }

  .lg\:bg-\[transparent\] {
    background-color: transparent;
  }

  .lg\:bg-best-tasting-union {
    background-image: url('best-tasting-union.svg');
  }

  .lg\:bg-bigblock-union {
    background-image: url('bigblock-union.svg');
  }

  .lg\:bg-crafted-union1 {
    background-image: url('crafted-union1.svg');
  }

  .lg\:bg-crafted-union2 {
    background-image: url('crafted-union2.svg');
  }

  .lg\:bg-excellence-union1 {
    background-image: url('excellence-union1.svg');
  }

  .lg\:bg-excellence-union2 {
    background-image: url('excellence-union2.svg');
  }

  .lg\:bg-look-forward-union1 {
    background-image: url('look-forward-union1.webp');
  }

  .lg\:bg-look-forward-union2 {
    background-image: url('look-forward-union2.webp');
  }

  .lg\:bg-takestep-union1 {
    background-image: url('takestep-union1.svg');
  }

  .lg\:bg-takestep-union2 {
    background-image: url('takestep-union2.svg');
  }

  .lg\:bg-\[length\:23\%_auto\] {
    background-size: 23% auto;
  }

  .lg\:bg-contain {
    background-size: contain;
  }

  .lg\:bg-\[position\:bottom_left_20\%\] {
    background-position: bottom left 20%;
  }

  .lg\:bg-\[position\:bottom_right\] {
    background-position: bottom right;
  }

  .lg\:p-28 {
    padding: 7rem;
  }

  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .lg\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .lg\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lg\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .lg\:py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .lg\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pb-16 {
    padding-bottom: 4rem;
  }

  .lg\:pb-20 {
    padding-bottom: 5rem;
  }

  .lg\:pl-0 {
    padding-left: 0px;
  }

  .lg\:pr-0 {
    padding-right: 0px;
  }

  .lg\:pr-14 {
    padding-right: 3.5rem;
  }

  .lg\:pr-16 {
    padding-right: 4rem;
  }

  .lg\:pt-0 {
    padding-top: 0px;
  }

  .lg\:pt-10 {
    padding-top: 2.5rem;
  }

  .lg\:pt-16 {
    padding-top: 4rem;
  }

  .lg\:pt-20 {
    padding-top: 5rem;
  }

  .lg\:pt-24 {
    padding-top: 6rem;
  }

  .lg\:pt-64 {
    padding-top: 16rem;
  }

  .lg\:pt-9 {
    padding-top: 2.25rem;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-\[1\.3vw\] {
    font-size: 1.3vw;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:leading-\[3\.6rem\] {
    line-height: 3.6rem;
  }

  .lg\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }
}

@media (min-width: 1100px) {
  .min-\[1100px\]\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 1250px) {
  .min-\[1250px\]\:mb-0 {
    margin-bottom: 0px;
  }

  .min-\[1250px\]\:w-1\/3 {
    width: 33.333333%;
  }

  .min-\[1250px\]\:w-2\/3 {
    width: 66.666667%;
  }

  .min-\[1250px\]\:w-\[80\%\] {
    width: 80%;
  }

  .min-\[1250px\]\:w-\[85\%\] {
    width: 85%;
  }

  .min-\[1250px\]\:flex-row {
    flex-direction: row;
  }

  .min-\[1250px\]\:gap-10 {
    gap: 2.5rem;
  }

  .min-\[1250px\]\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .min-\[1250px\]\:text-left {
    text-align: left;
  }

  .min-\[1250px\]\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1280px) {
  .xl\:absolute {
    position: absolute;
  }

  .xl\:z-10 {
    z-index: 10;
  }

  .xl\:z-20 {
    z-index: 20;
  }

  .xl\:order-1 {
    order: 1;
  }

  .xl\:order-2 {
    order: 2;
  }

  .xl\:mb-0 {
    margin-bottom: 0px;
  }

  .xl\:h-\[90\%\] {
    height: 90%;
  }

  .xl\:h-full {
    height: 100%;
  }

  .xl\:w-\[55\%\] {
    width: 55%;
  }

  .xl\:w-\[95\%\] {
    width: 95%;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:bg-\[length\:auto_90\%\] {
    background-size: auto 90%;
  }

  .xl\:pr-20 {
    padding-right: 5rem;
  }

  .xl\:pt-0 {
    padding-top: 0px;
  }

  .xl\:pt-10 {
    padding-top: 2.5rem;
  }

  .xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 1380px) {
  .min-\[1380px\]\:block {
    display: block;
  }
}

@media (min-width: 1400px) {
  .min-\[1400px\]\:flex-row {
    flex-direction: row;
  }

  .min-\[1400px\]\:gap-10 {
    gap: 2.5rem;
  }

  .min-\[1400px\]\:rounded-\[50px\] {
    border-radius: 50px;
  }

  .min-\[1400px\]\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .min-\[1400px\]\:pr-0 {
    padding-right: 0px;
  }
}
